Repository Big0290/sv-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern 'apps/**' --ignore-pattern 'test/**', prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,svelte}": [
    "eslint --fix --ignore-pattern 'apps/**' --ignore-pattern 'test/**'",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: exclude admin and demo-app from CI lint tasks
  package.json
Due: prettier --write

fix: remove conflicting .npmrc from UI package
  packages/ui/.npmrc
Due: none

fix: resolve all 20 TypeScript errors in @big0290/ui package
  package.json
  packages/ui/src/animations/transitions.ts
  packages/ui/src/components/TemplateEditor.svelte
  packages/ui/src/components/data/Table.svelte
  packages/ui/src/components/feedback/ErrorBoundary.svelte
  packages/ui/src/components/feedback/Toast.svelte
  packages/ui/src/components/forms/Select.svelte
  packages/ui/src/components/layout/Modal.svelte
  packages/ui/src/components/media/BarcodeScanner.svelte
  packages/ui/src/components/media/CameraCapture.svelte
  packages/ui/src/components/media/ImageUploader.svelte
  packages/ui/src/components/utilities/Portal.svelte
  packages/ui/src/composables/useIntersection.ts
  packages/ui/src/index.ts
  packages/ui/src/theme/store.ts
  packages/ui/src/tokens.ts
  packages/ui/src/types/index.ts
Due: eslint --fix --ignore-pattern 'apps/**' --ignore-pattern 'test/**', prettier --write

fix: configure vitest to pass with no tests and exclude apps from test tasks
  package.json
  packages/audit/package.json
  packages/auth/package.json
  packages/cache/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/db-config/package.json
  packages/email/package.json
  packages/observability/package.json
  packages/permissions/package.json
  packages/security/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/validators/package.json
  vitest.config.ts
Due: eslint --fix --ignore-pattern 'apps/**' --ignore-pattern 'test/**', prettier --write

feat: add create-big0290-app scaffolder for new projects
  package.json
  packages/create-app/README.md
  packages/create-app/package.json
  packages/create-app/src/generator.ts
  packages/create-app/src/index.ts
  packages/create-app/src/installer.ts
  packages/create-app/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --ignore-pattern 'apps/**' --ignore-pattern 'test/**', prettier --write

docs: add comprehensive guide for create-big0290-app scaffolder
  CREATE_APP_GUIDE.md
Due: prettier --write

fix: rename create package to @big0290/create-app for proper scoping
  package.json
  packages/create-app/README.md
  packages/create-app/package.json
Due: prettier --write

fix: lazy-load database and Redis connections to support .env files
  packages/cache/src/client.ts
  packages/create-app/src/generator.ts
  packages/db-config/src/client.ts
Due: eslint --fix --ignore-pattern 'apps/**' --ignore-pattern 'test/**', prettier --write

chore: add changeset for env loading fixes
  .changeset/lazy-env-loading.md
Due: prettier --write

fix: remove $state rune from UI theme store (only works in .svelte files)
  .changeset/lazy-env-loading.md
  packages/ui/src/theme/store.ts
Due: eslint --fix --ignore-pattern 'apps/**' --ignore-pattern 'test/**', prettier --write
